.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}
.wy-nav-side {
    overflow: inherit;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}
/* GetFrontender custom styles */
.wy-grid-for-nav {
    height: auto;
}
.wy-side-nav-search {
    margin-bottom: 0;
    background-color: #FFE550;
    /* background-color: #424242; */
    border-bottom: 1px solid #FFF;
    color: #424242;
}
.wy-nav-side {
    background-color: #F7F7F7;
    box-shadow: 0 0 10px 0 #E3E3E3;
}
.wy-menu-vertical a,
.wy-menu-vertical a:visited {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #424242;
    letter-spacing: 1.5px;
    line-height: 36px;
    text-transform: uppercase;
}
.wy-menu-vertical .text-muted {
    padding: 0.809em 1.618em;
    margin: 0;
    background-color: #C8E7E9;
    border-bottom: 1px solid #F7F7F7;
    color: #424242;
}
.wy-side-nav-search>a,
.wy-side-nav-search>a:visited {
    color: #424242;
}
.wy-side-nav-search>a:hover {
    background: none;
}
img.wy-side-nav-search-img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    background-color: #424242;
    border-radius: 0;
}
.wy-side-nav-search>a,
img.wy-side-nav-search-img {
    vertical-align: middle;
}
.wy-menu-vertical a:hover {
    background-color: #E3E3E3;
    background-color: rgba(155, 224, 228, .2);
}
.wy-menu-vertical .nav .active {
    border-bottom: 2px solid #C8E7E9;
}
@media screen and (min-width: 1400px) {
    .wy-nav-content-wrap {
        background-color: #E3E3E3;
    }
}
.wy-menu-vertical .nav .active a {
    color: inherit;
}

.wy-body-for-nav {
    background: left repeat-y #E3E3E3;
}

.document ul,
.document ol,
.document dl {
    list-style-position: inside;
}
.document h4,
.document h5,
.document h6,
.document table,
.document ul,
.document ol {
    margin-bottom: 24px;
}
.document ul li,
.document ol li {
    line-height: 24px;
    list-style: initial;
    list-style-position: inside;
}
.document tbody tr:nth-child(even) {
    background-color: #E3E3E3;
}
.document tbody td {
    padding: 10px;
}
.document thead th {
    padding-bottom: 10px;
}
.document thead th:nth-child(1)  {
    width: 25%;
}
.document p + ul,
.document h4 + ul,
.document h5 + ul,
.document h6 + ul {
    margin-top: -24px;
}
.document ol li {
    list-style-type: decimal;
}
.document img + img {
    margin-top: 24px;
}
.document img.small {
    width: 50%;
}

a,
a:visited {
    color: #2980B9;
}

@media screen and (min-width: 1024px) {
    /* Menu styling */
    .section .nav.nav-stacked {
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        max-height: 0;
    }
    .section:hover {
        cursor: pointer;
    }
    .section:hover .nav.nav-stacked,
    .section.active .nav.nav-stacked {
        max-height: 100vh;
    }
    .section:hover .nav.nav-stacked {
        transition: max-height 0.5s ease-in;
    }
}

.document h1 {
    font-size: 2em;
}
.document h2 {
    font-size: 1.75em;
}
.document h3 {
    font-size: 1.5em;
}
.document h4 {
    font-size: 1.25em;
}
.document h5 {
    font-size: 1.125em;
}
.document h6 {
    font-size: 1em;
}
.attribution__brand.attribution__brand.attribution__brand {
    height: 1em !important;
    width: auto;
    padding-right: .5em;
}
.attribution__brand, .attribution__body {
    display: inline;
    vertical-align: middle;
}
@media only screen and (min-width: 30em) {
    .accreditation__copyright, .accreditation__attribution {
        position: relative;
        display: inline-block;
        width: 49%;
    }
    .accreditation__attribution {
        text-align: right;
        float: right;
    }
    .accreditation:after {
        content: "";
        display: table;
        clear: both;
    }
}
