.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}
.wy-menu-vertical .text-muted {
    padding: 0.809em 1.618em;
    margin: 0;
    background: rgba(0, 0, 0, .5);
    color: white;
}

.wy-nav-side {
    overflow: inherit;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre {
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}
/* GetFrontender custom styles */
.wy-menu-vertical .nav .active {
    background: white;
    color: #343131;
}
.wy-menu-vertical .nav .active a {
    color: inherit;
}
.wy-menu-vertical .nav .active a:hover {
    background: rgba(78, 74, 74, 0.3);
}
.document ul,ol,dl {
    list-style-position: inside;
}
.document h4,h5,h6,
.document table,ul,ol {
    margin-bottom: 24px;
}
.document ul li,
.document ol li {
    line-height: 24px;
    list-style: initial;
    list-style-position: inside;
}
.document tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.05);
}
.document tbody td {
    padding: 10px;
}
.document thead th {
    padding-bottom: 10px;
}
.document thead th:nth-child(1)  {
    width: 25%;
}


@media screen and (min-width: 1024px) {
    /* Menu styling */
    .section .nav.nav-stacked {
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        max-height: 0;
    }
    .section:hover {
        cursor: pointer;
    }
    .section:hover .nav.nav-stacked,
    .section.active .nav.nav-stacked {
        max-height: 100vh;
        transition: max-height 0.5s ease-in;
    }
}
